/* Add a background color to the header element */
header{
    background-color: white;
    color: aquamarine;
}
/* Add a fun background color to the main element */
body{
    background-color: aquamarine;
}
/* Align the h1 containing your name in the center of the header*/
h1{
text-align: center;
}
/* Make your p tag a different color and italic */
p{
color: aquamarine;
font-style: italic;
}
/* Put a border around your image */
img{
width: 25%;
height: 25%;
border: 5px solid;
padding: 3px;
margin: 5px;
}
/* Change the font-family of your list */
li{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Add a background color to the footer element */
footer{
    background-color: white;
    text-align: center;
}

h3{
    padding-left: 30px;
}